.DS_Store
/RiverFlows/.gradle/
/RiverFlows/.idea/gradle.xml
/RiverFlows/.idea/workspace.xml
/RiverFlows/.idea/libraries/
/RiverFlows/.idea/dictionaries/
/RiverFlows/.idea/misc.xml
/RiverFlows/.idea/runConfigurations.xml
/RiverFlows/logarithmicnumberpicker
build/
*.swp
*.iml
*.apk
local.properties
gradle-app.setting 
